<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SCRUM{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block content %}
    <div class="teal-text">
        Scrum Management
    </div>
    <div class="row">
        <div id="menu" class="col s2">
            <ul>
                {{ render(controller('ManagementBundle:Project:projects')) }}
            </ul>
        </div>
        <div class="col s10">
            {% block body %}

            {% endblock %}
        </div>
    </div>
{% endblock content %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.css') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/materialize.min.js') }}"></script>
    <!-- Compiled and minified CSS -->
{% endblock %}
<!-- Compiled and minified JavaScript -->
<script>
    $('.dropdown-toggle').dropdown();

    $('.dropdown-toggle').dropdown();
    $(document).ready(function () {
        $('select').material_select();
    });
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    $(document).ready(function () {
        $('.collapsible').collapsible({
            accordion: true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
