{{ form_start(form) }}
    
{{ form_label(form.email) }}
<div class="input-group">
    {{ form_errors(form.email) }}
   {{ form_widget(form.email, {'attr': {'placeholder': 'nombre.apellido'} }) }}
    <span class="input-group-addon">@{{dominio_correo}}</span>
</div>
<div>
{{ form_widget(form.submit) }}
</div>

{{ form_end(form) }}