{% extends 'layout.html.twig' %}

{% block panel_title %}Sprint list{% endblock %}
{% block panel_actions %}
    <a class="boton boton-default" href="{{ path('sprint_new') }}">New Sprint</a>
{% endblock %}

    {% block th %}
        <th>Id</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>Due Date</th>
    {% endblock %}

    {% block td %}
        {% for sprint in sprints %}
            <tr>
                <td>{{ sprint.id }}</td>
                <td>{{ sprint.name }}</td>
                <td>{% if sprint.startDate %}{{ sprint.startDate|date('d-M-Y H:i') }}{% endif %}</td>
                <td>{% if sprint.dueDate %}{{ sprint.dueDate|date('d-M-Y H:i') }}{% endif %}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('sprint_show', { 'id': sprint.id }) }}"><i  class="fa fa-eye"></i></a>
                    <a class="btn btn-default" href="{{ path('sprint_edit', { 'id': sprint.id }) }}"><i  class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}


