{% extends 'layout.html.twig' %}

        {% block panel_title %}
            {{ sprint.number }} - {{ sprint.name }}
            <h6> Fecha Inicio: {% if sprint.startDate %}{{ sprint.startDate|date('d \\d\\e M \\d\\e Y') }}{% endif %}
                al {% if sprint.dueDate %}{{ sprint.dueDate|date('d \\d\\e M \\d\\e Y') }}{% endif %}
            </h6>
        {% endblock %}

        {% block panel_actions %}
            <a class="boton boton-default" href="{{ path('sprint_index', {'id' : sprint.project.id}) }}"><i
                        class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="boton boton-default" href="{{ path('sprint_edit', { 'id': sprint.id }) }}">Edit</a>
            <a class="boton boton-default" href="{{ path('report_sprint_backlog_pdf', {'id': sprint.id}) }}"><i
                        class="fa fa-file-pdf-o"></i> </a>
            <a class="boton boton-default" href="{{ path('report_sprint_backlog_image', {'id': sprint.id}) }}"><i
                        class="fa fa-file-image-o"></i> </a>
        {% endblock %}

         {% block th %}
             <th>Id</th>
             <th>Title</th>
             <th class="text-center">Status</th>
             <th class="text-center">Points</th>
             <th class="text-center">Acceptance</th>
             <th class="text-center">Test</th>
         {% endblock %}

            {% block td %}
                {% for story in stories %}
                    <tr class="" title="{{ story.fullDescription }}">
                        <td>{{ story.number }}</td>
                        <td>{{ story.title }}</td>
                        <td class="text-center">{{ story.strstatus }}</td>
                        <td class="text-center">{{ story.points }}</td>
                        <td class="text-center">{{ story.acceptanceRequirements|length }}</td>
                        <td class="text-center">{{ story.tests|length }}</td>
                        <td>
                            <a class="waves-effect waves-light btn" href="{{ path('story_show', { 'id': story.id }) }}"><i
                                        class="fa fa-eye"></i></a>
                            <a class="waves-effect waves-light btn" href="{{ path('story_edit', { 'id': story.id }) }}"><i
                                        class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}

            {% endblock %}

           {% block footer %}
               <div class="text-right">
                   {{ form_start(delete_form) }}
                   <input class="boton boton-default" type="submit" value="Delete">
                   {{ form_end(delete_form) }}
               </div>
           {% endblock %}
