{% extends 'layout.html.twig' %}

{% block panel_title %}
    {{ sprint.id }} - {{ sprint.name }}
    <h6> Fecha Inicio: {% if sprint.startDate %}{{ sprint.startDate|date('d \\d\\e M \\d\\e Y') }}{% endif %}
        al {% if sprint.dueDate %}{{ sprint.dueDate|date('d \\d\\e M \\d\\e Y') }}{% endif %}
    </h6>
{% endblock %}

{% block panel_actions %}
    <a class="boton boton-default" href="{{ path('sprint_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
    <a class="boton boton-default" href="{{ path('sprint_edit', { 'id': sprint.id }) }}">Edit</a>
{% endblock %}

 {% block th %}
     <th>Title</th>
     <th>Priority</th>
     <th>Status</th>
     <th>Points</th>
 {% endblock %}

    {% block td %}
        {% for story in sprint.stories %}
            <tr>
                <td>{{ story.title }}</td>
                <td>{{ story.priority }}</td>
                <td>{{ story.status }}</td>
                <td>{{ story.effort }}</td>
                <td>{% if story.startDate %}{{ story.startDate|date('d-M-Y H:i') }}{% endif %}</td>
                <td>{% if story.dueDate %}{{ story.dueDate|date('d-M-Y H:i') }}{% endif %}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="{{ path('story_show', { 'id': story.id }) }}"><i
                                class="fa fa-eye"></i></a>
                    <a class="waves-effect waves-light btn" href="{{ path('story_edit', { 'id': story.id }) }}"><i
                                class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        {{ form_start(delete_form) }}
        <input class="boton boton-default" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    {% endblock %}
