{% extends 'layout.html.twig' %}

{% block panel_title %}Project list{% endblock %}
{% block panel_actions %}
    <a class="boton boton-default" href="{{ path('project_new') }}">New Project</a>
{% endblock %}

    {% block th %}
        <th>Id Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>Due date</th>
    {% endblock %}

    {% block td %}
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{% if project.startDate %}{{ project.startDate|date('d-M-Y H:i:s') }}{% endif %}</td>
                <td>{% if project.dueDate %}{{ project.dueDate|date('d-M-Y H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('project_show', { 'id': project.id }) }}"><i  class="fa fa-eye"></i></a>
                    <a class="btn btn-default" href="{{ path('project_edit', { 'id': project.id }) }}"><i  class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}
