{% for project in projects %}
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            {{ project.name }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('story_index',{'id': project.id}) }}">Backlogs</a></li>
            <li><a href="{{ path('sprint_index',{'id': project.id}) }}">Sprint</a></li>
            <li><a href="{{ path('rol_index',{'id': project.id}) }}">Role</a></li>
            <li><a href="{{ path('meet_index',{'id': project.id}) }}">Meet</a></li>
            <li><a href="{{ path('management_homepage',{'id': project.id}) }}">Board</a></li>
            <li><a href="{{ path('report_index') }}">Report</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{ render(controller('ManagementBundle:Sprint:sprints')) }}
                </ul>
            </li>
        </ul>
    </li>
{% endfor %}