{% extends 'layout.html.twig' %}

{% block panel_title %}
    <h1>{{ project.id }} -> {{ project.name }}</h1>
    <h3>{{ project.description }}</h3>
    <h4>{% if project.startDate %}{{ project.startDate|date('Y-m-d H:i:s') }}{% endif %}</h4>
    <h4>{% if project.dueDate %}{{ project.dueDate|date('Y-m-d H:i:s') }}{% endif %}</h4>
{% endblock %}
{% block panel_actions %}
    <a class="btn btn-default" href="{{ path('project_index') }}">Back to the list</a>

    <a class="btn btn-default" href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}

{% block panel_body %}
    <app-root>Loading...</app-root>
    <a class="btn btn-default" href="{{ path('story_new') }}">Create a new entry</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Want</th>
            <th>Sothat</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Effort</th>
            <th>Startdate</th>
            <th>Duedate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for story in stories %}
            <tr>
                <td><a class="btn btn-default" href="{{ path('story_show', { 'id': story.id }) }}">{{ story.id }}</a>
                </td>
                <td>{{ story.want }}</td>
                <td>{{ story.soThat }}</td>
                <td>{{ story.priority }}</td>
                <td>{{ story.status }}</td>
                <td>{{ story.effort }}</td>
                <td>{% if story.startDate %}{{ story.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if story.dueDate %}{{ story.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('story_show', { 'id': story.id }) }}">show</a>
                    <a class="btn btn-default" href="{{ path('story_edit', { 'id': story.id }) }}">go</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

