{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project</h1>

     <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if project.startDate %}{{ project.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{% if project.dueDate %}{{ project.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('project_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-default" href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
