{% extends 'base.html.twig' %}

{% block title %}SDT{{ test.story.id }}{% endblock %}
{% block stylesheet %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div style="width: 100%; height: 100%; font-family: Arial, 'Times New Roman'">
        <table class="table table-responsive">
            <tr>
                <td colspan="1">
                    <img src="http://www.univalle.edu.co/english/simbolos/logos/imagenes/univalle-rojopuro-159x226.gif"
                         class="img-responsive" width="80">
                </td>
                <td class="text-center" colspan="5">
                    <strong style="font-size: 26px">Sistema Para la Gestión de Documentos Electrónicos</strong><br/>
                    <strong style="font-size: 22px">Área de Registro Académico</strong><br/>
                    <strong style="font-size: 20px">Prueba de SD{{ test.story.number }}</strong><br/>
                </td>
            </tr>
        </table>
        <table id="detail" class="table table-bordered table-striped table-responsive">
            <tr>
                <td>SDT{{ test.number }}</td>
                <td style="text-align: center">{{ test.name }}</td>
            </tr>

            <tr>
                <th>Descripción</th>
                <td>{{ test.description }}</td>
            </tr>
            <tr>
                <th>Datos</th>
                <td>{{ test.data|raw }}</td>
            </tr>
            <tr>
                <th>Prerequisitos</th>
                <td>{{ test.prerequisite|raw }}</td>
            </tr>
            <tr>
                <th>Pasos</th>
                <td>{{ test.steps|raw }}</td>
            </tr>
            <tr>
                <th>Resultado esperado</th>
                <td>{{ test.expected|raw }}</td>
            </tr>
            <tr>
                <th>Resultado obtenido</th>
                <td>{{ test.obtained|raw }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ test.status }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ test.type }}</td>
            </tr>
            <tr>
                <th>Automatizado</th>
                <td>{% if test.automated %}Sí{% else %}No{% endif %}</td>
            </tr>
        </table>
    </div>
    <div style="width: 100%;font-family: Arial, 'Times New Roman'">
        <table class="table table-responsive table-bordered table-striped">
            <tr>
                <td colspan="2">
                    <div class="row">
                        <div class="col-sm-12">Elaborado por:</div>
                        <div class="col-sm-12 text-center"><strong>Jefferson Estiven Mendoza</strong></div>
                    </div>
                </td>
                <td colspan="2">
                    <div class="row">
                        <div class="col-sm-12">Revisado por:</div>
                        <div class="col-sm-12 text-center"><strong>Luz Milena Riascos</strong></div>
                    </div>
                </td>
                <td colspan="2">
                    <div class="row">
                        <div class="col-sm-12">Aprobado por:</div>
                        <div class="col-sm-12 text-center"><strong>Raúl Andrés Ramírez</strong></div>
                    </div>
                </td>
            </tr>
        </table>
        <p style="font-size: 9.5px">
            Escuela de Ingeniería de Sistemas y Computación - Universidad del Valle<br/>
            Trabajo de Grado: Sistema Para la Gestión de Documentos Electrónicos en el Área de Registro Académico de la
            Universidad del Valle<br/>
            Elaborado por: Jefferson Estiven Mendoza Hoyos<br>
            Santiago de Cali 2016 - 2017
        </p>
    </div>
    <style>
        body {
            font-size: 18px !important;
        }

        #detail th{
            width: 20%;
        }
    </style>
{% endblock %}
