{% extends 'layout.html.twig' %}

{% block panel_title %}{{ story.title }} Edit{% endblock %}
{% block panel_actions %}
    <a class="waves-effect waves-light btn" href="{{ path('story_index') }}"><i class="fa fa-arrow-left"
                                                                                aria-hidden="true"></i>
    </a>
    {{ form_start(delete_form) }}
    <input class="waves-effect waves-light btn" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
{% block panel_body %}
    {{ form_start(edit_form) }}
    <div class="col l12">
        {{ form_row(edit_form.title) }}
    </div>
    <div class="col l3">
        {{ form_row(edit_form.rol) }}
    </div>
    <div class="col l9">
        {{ form_row(edit_form.want) }}
    </div>
    <div class="col l12">
        {{ form_row(edit_form.soThat) }}
    </div>
    <div class="col l4">
        {{ form_row(edit_form.priority) }}
    </div>
    <div class="col l4">
        {{ form_row(edit_form.points) }}
    </div>
    <div class="col l4">
        {{ form_row(edit_form.status) }}
    </div>
    <div class="col l4">
        {{ form_row(edit_form.sprint) }}
    </div>
    <div class="col l4">
        {{ form_row(edit_form.module) }}
    </div>
    <div class="col l4">
        {{ form_row(edit_form.effort) }}
    </div>

    <input class="waves-effect waves-light btn" type="submit" value="Edit"/>
    {{ form_end(edit_form) }}
{% endblock %}