{% extends 'layout.html.twig' %}

{% block panel_title %}Backlogs{% endblock %}
{% block panel_actions %}
    <a class="boton boton-default" href="{{ path('story_new') }}">Story new</a>
{% endblock %}

    {% block th %}
        <th>id</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Points</th>
    {% endblock %}

    {% block td %}
        {% for story in stories %}
            <tr class="" title="{{story.want}}"   >
                <td>{{ story.id }}</td>
                <td>{{ story.title }}</td>
                <td>{{ story.strpriority }}</td>
                <td>{{ story.strstatus }}</td>
                <td>{{ story.effort }}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="{{ path('story_show', { 'id': story.id }) }}"><i
                                class="fa fa-eye"></i></a>
                    <a class="waves-effect waves-light btn" href="{{ path('story_edit', { 'id': story.id }) }}"><i
                                class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}