{% extends 'layout.html.twig' %}

{% block panel_title %}Backlogs{% endblock %}
{% block panel_actions %}
    <a class="boton boton-default" href="{{ path('story_new', {'id': project.id }) }}">New</a>
    <a class="boton boton-default" href="{{ path('report_stories_generate_pdf')}}"><i class="fa fa-book"></i></a>
    <a class="boton boton-default" href="{{ path('report_tests_generate_pdf')}}"><i class="fa fa-check"></i> Test </a>
    <a class="boton boton-default" href="{{ path('report_product_backlog_pdf')}}"><i class="fa fa-file-pdf-o"></i> </a>
    <a class="boton boton-default" href="{{ path('report_product_backlog_image')}}"><i class="fa fa-file-image-o"></i> </a>
{% endblock %}

    {% block th %}
        <th>id</th>
        <th>Title</th>
        <th class="text-center">Priority</th>
        <th class="text-center">Status</th>
        <th class="text-center">Points</th>
        <th class="text-center">Acceptance</th>
        <th class="text-center">Test</th>
    {% endblock %}

    {% block td %}
        {% for story in stories %}
            <tr class="" title="{{story.fullDescription}}"   >
                <td>{{ story.number }}</td>
                <td>{{ story.title }}</td>
                <td class="text-center">{{ story.strpriority }}</td>
                <td class="text-center">{{ story.strstatus }}</td>
                <td class="text-center">{{ story.points }}</td>
                <td class="text-center">{{ story.acceptanceRequirements|length }}</td>
                <td class="text-center">{{ story.tests|length }}</td>
                <td>
                    <a class="btn" href="{{ path('story_show', { 'id': story.id }) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn" href="{{ path('story_edit', { 'id': story.id }) }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}