{% extends 'layout.html.twig' %}

{% block panel_title %}Backlogs{% endblock %}
{% block panel_actions %}
    <a class="btn btn-default" href="{{ path('story_new') }}">Create a new entry</a>
{% endblock %}

    {% block th %}
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Effort</th>
        <th>Startdate</th>
        <th>Duedate</th>
    {% endblock %}

    {% block td %}
        {% for story in stories %}
            <tr>
                <td>{{ story.title }}</td>
                <td>{{ story.priority }}</td>
                <td>{{ story.status }}</td>
                <td>{{ story.effort }}</td>
                <td>{% if story.startDate %}{{ story.startDate|date('d-M-Y H:i') }}{% endif %}</td>
                <td>{% if story.dueDate %}{{ story.dueDate|date('d-M-Y H:i') }}{% endif %}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="{{ path('story_show', { 'id': story.id }) }}"><i
                                class="fa fa-eye"></i></a>
                    <a class="waves-effect waves-light btn" href="{{ path('story_edit', { 'id': story.id }) }}"><i
                                class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}