{% extends 'base.html.twig' %}

{% block body %}
    <h1>Story list</h1>

     <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Want</th>
                <th>Sothat</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Effort</th>
                <th>Startdate</th>
                <th>Duedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for story in stories %}
            <tr>
                <td><a class="btn btn-default" href="{{ path('story_show', { 'id': story.id }) }}">{{ story.id }}</a></td>
                <td>{{ story.want }}</td>
                <td>{{ story.soThat }}</td>
                <td>{{ story.priority }}</td>
                <td>{{ story.status }}</td>
                <td>{{ story.effort }}</td>
                <td>{% if story.startDate %}{{ story.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if story.dueDate %}{{ story.dueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default" href="{{ path('story_show', { 'id': story.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('story_edit', { 'id': story.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('story_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
