{% extends 'layout.html.twig' %}

{% block panel_title %}Story Creation{% endblock %}
{% block panel_actions %}
 <a class="btn" href="{{ path('story_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}
{% block panel_body %}
    {{ form_start(form) }}
    <div class="col l12">
        {{ form_row(form.title) }}
    </div>
    <div class="col l3">
        {{ form_row(form.rol) }}
    </div>
    <div class="col l9">
        {{ form_row(form.want) }}
    </div>
    <div class="col l12">
        {{ form_row(form.soThat) }}
    </div>
    <div class="col l4">
        {{ form_row(form.priority) }}
    </div>
    <div class="col l4">
        {{ form_row(form.points) }}
    </div>
    <div class="col l4">
        {{ form_row(form.status) }}
    </div>

    <div class="col l4">
        {{ form_row(form.sprint) }}
    </div>
    <div class="col l4">
        {{ form_row(form.module) }}
    </div>
    <div class="col l4">
        {{ form_row(form.effort) }}
    </div>
    <input class="waves-effect waves-light btn" type="submit" value="Create"/>
    {{ form_end(form) }}
{% endblock %}